{<<"app">>,<<"cowboy_swagger">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Swagger for Cowboy Erlang projects">>}.
{<<"files">>,
 [<<"CHANGELOG.md">>,<<"LICENSE">>,<<"README.md">>,
  <<"priv/swagger/favicon-16x16.png">>,<<"priv/swagger/favicon-32x32.png">>,
  <<"priv/swagger/index.html">>,<<"priv/swagger/oauth2-redirect.html">>,
  <<"priv/swagger/swagger-ui-bundle.js">>,
  <<"priv/swagger/swagger-ui-bundle.js.map">>,
  <<"priv/swagger/swagger-ui-es-bundle-core.js">>,
  <<"priv/swagger/swagger-ui-es-bundle-core.js.map">>,
  <<"priv/swagger/swagger-ui-es-bundle.js">>,
  <<"priv/swagger/swagger-ui-es-bundle.js.map">>,
  <<"priv/swagger/swagger-ui-standalone-preset.js">>,
  <<"priv/swagger/swagger-ui-standalone-preset.js.map">>,
  <<"priv/swagger/swagger-ui.css">>,<<"priv/swagger/swagger-ui.css.map">>,
  <<"priv/swagger/swagger-ui.js">>,<<"priv/swagger/swagger-ui.js.map">>,
  <<"rebar.config">>,<<"rebar.lock">>,<<"src/cowboy_swagger.app.src">>,
  <<"src/cowboy_swagger.erl">>,<<"src/cowboy_swagger_handler.erl">>,
  <<"src/cowboy_swagger_json_handler.erl">>,
  <<"src/cowboy_swagger_redirect_handler.erl">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,
 [{<<"Blog">>,<<"http://inaka.net/blog/2015/08/19/cowboy-swagger/">>},
  {<<"Example">>,
   <<"https://github.com/inaka/cowboy-swagger/tree/master/example">>},
  {<<"Github">>,<<"https://github.com/inaka/cowboy-swagger">>}]}.
{<<"name">>,<<"cowboy_swagger">>}.
{<<"requirements">>,
 [{<<"cowboy">>,
   [{<<"app">>,<<"cowboy">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"2.8.0">>}]},
  {<<"jsx">>,
   [{<<"app">>,<<"jsx">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"2.9.0">>}]},
  {<<"ranch">>,
   [{<<"app">>,<<"ranch">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"2.0.0">>}]},
  {<<"trails">>,
   [{<<"app">>,<<"trails">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"2.3.0">>}]}]}.
{<<"version">>,<<"2.5.1">>}.
