{<<"app">>,<<"samovar">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"SEMVER library for Erlang">>}.
{<<"files">>,
 [<<"README.md">>,<<"include/samovar.hrl">>,<<"rebar.lock">>,
  <<"src/samovar.app.src">>,<<"src/samovar.erl">>]}.
{<<"licenses">>,[<<"ISC">>]}.
{<<"links">>,
 [{<<"Github">>,<<"https://github.com/crownedgrouse/samovar">>},
  {<<"Wiki">>,<<"https://github.com/crownedgrouse/samovar/wiki">>}]}.
{<<"name">>,<<"samovar">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"1.0.2">>}.
