{<<"app">>,<<"re2">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Erlang NIF bindings for RE2 regex library">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"c_src/build_deps.sh">>,
  <<"c_src/re2_nif.cc">>,<<"rebar.config.script">>,<<"rebar.lock">>,
  <<"src/re2.app.src">>,<<"src/re2.erl">>]}.
{<<"licenses">>,[<<"BSD">>]}.
{<<"links">>,
 [{<<"GitHub">>,<<"https://github.com/dukesoferl/re2">>},
  {<<"RE2 library GitHub">>,<<"https://github.com/google/re2">>},
  {<<"RE2 library Google Source">>,<<"https://code.googlesource.com/re2">>}]}.
{<<"name">>,<<"re2">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"1.9.7">>}.
