{<<"name">>,<<"lasse">>}.
{<<"version">>,<<"1.2.0">>}.
{<<"requirements">>,
 #{<<"cowboy">> =>
       #{<<"app">> => <<"cowboy">>,<<"optional">> => false,
         <<"requirement">> => <<"2.4.0">>}}}.
{<<"app">>,<<"lasse">>}.
{<<"maintainers">>,[<<"Inaka">>]}.
{<<"precompiled">>,false}.
{<<"description">>,<<"Lasse: Server-Sent Event handler for Cowboy.">>}.
{<<"files">>,
 [<<"src/lasse.app.src">>,<<"LICENSE">>,<<"README.md">>,<<"rebar.config">>,
  <<"rebar.lock">>,<<"src/lasse_handler.erl">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,
 [{<<"Github">>,<<"https://github.com/inaka/lasse">>},
  {<<"Example">>,
   <<"https://github.com/inaka/lasse/tree/master/examples/ping_pong">>},
  {<<"SSE Spec">>,
   <<"https://html.spec.whatwg.org/multipage/comms.html#server-sent-events">>}]}.
{<<"build_tools">>,[<<"rebar">>]}.
