{<<"app">>,<<"jid">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"MongooseIM's XMPP jid modules">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"c_src/mongoose_jid.c">>,
  <<"include/jid.hrl">>,<<"rebar.config">>,<<"rebar.lock">>,
  <<"src/jid.app.src">>,<<"src/jid.erl">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,[{<<"GitHub">>,<<"https://github.com/esl/mongoose_jid/">>}]}.
{<<"name">>,<<"mongoose_jid">>}.
{<<"requirements">>,
 [{<<"stringprep">>,
   [{<<"app">>,<<"stringprep">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"1.0.29">>}]}]}.
{<<"version">>,<<"2.1.0">>}.
