{<<"app">>,<<"eodbc">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Erlang ODBC application">>}.
{<<"files">>,
 [<<"README.md">>,<<"c_src/odbcserver.c">>,<<"c_src/odbcserver.h">>,
  <<"include/odbc.hrl">>,<<"rebar.config">>,<<"rebar.lock">>,
  <<"src/eodbc.app.src">>,<<"src/eodbc.erl">>,<<"src/eodbc_app.erl">>,
  <<"src/eodbc_internal.hrl">>,<<"src/eodbc_sup.erl">>,
  <<"src/odbc.appup.src">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,[{<<"GitHub">>,<<"https://github.com/arcusfelis/eodbc">>}]}.
{<<"name">>,<<"eodbc">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"0.2.0">>}.
