{<<"app">>,<<"jwerl">>}.
{<<"build_tools">>,[<<"rebar3">>,<<"mix">>,<<"make">>]}.
{<<"description">>,<<"JWT Library for Erlang and Elixir">>}.
{<<"files">>,
 [<<"Makefile">>,<<"README.md">>,<<"bu.mk">>,<<"lib/Jwerl.ex">>,<<"mix.exs">>,
  <<"mix.lock">>,<<"rebar.config">>,<<"rebar.lock">>,<<"src/jwerl.app.src">>,
  <<"src/jwerl.erl">>,<<"src/jwerl_es.erl">>,<<"src/jwerl_hs.erl">>,
  <<"src/jwerl_rs.erl">>]}.
{<<"licenses">>,[<<"BSD-3">>]}.
{<<"links">>,
 [{<<"Github (mirror)">>,<<"https://github.com/G-Corp/jwerl">>},
  {<<"Gitlab">>,<<"https://gitlab.com/glejeune/jwerl">>}]}.
{<<"name">>,<<"jwerl">>}.
{<<"requirements">>,
 [{<<"jsx">>,
   [{<<"app">>,<<"jsx">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"~> 2.10.0">>}]}]}.
{<<"version">>,<<"1.2.0">>}.
