{<<"app">>,<<"fusco">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Fast and Ultra Slim Connection Oriented HTTP Client">>}.
{<<"files">>,
 [<<"CHANGELOG.md">>,<<"LICENSE">>,<<"README.md">>,<<"include/fusco.hrl">>,
  <<"include/fusco_types.hrl">>,<<"rebar.config">>,<<"rebar.lock">>,
  <<"src/fusco.app.src">>,<<"src/fusco.erl">>,<<"src/fusco_binary.erl">>,
  <<"src/fusco_cp.erl">>,<<"src/fusco_lib.erl">>,<<"src/fusco_protocol.erl">>,
  <<"src/fusco_sock.erl">>,<<"src/test_utils/test_utils.erl">>,
  <<"src/test_utils/webserver.erl">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/esl/fusco">>}]}.
{<<"name">>,<<"fusco">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"0.1.1">>}.
