{<<"app">>,<<"tomerl">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Erlang TOML Parser">>}.
{<<"files">>,
 [<<"CHANGELOG.md">>,<<"README.md">>,<<"rebar.config">>,<<"rebar.lock">>,
  <<"src/.gitignore">>,<<"src/overview.edoc">>,<<"src/tomerl.app.src">>,
  <<"src/tomerl.erl">>,<<"src/tomerl_convert.erl">>,
  <<"src/tomerl_datetime.erl">>,<<"src/tomerl_lexer.erl">>,
  <<"src/tomerl_lexer.xrl">>,<<"src/tomerl_parser.erl">>,
  <<"src/tomerl_parser.yrl">>,<<"src/tomerl_test.erl">>]}.
{<<"licenses">>,[<<"BSD-3-Clause">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/filmor/tomerl">>}]}.
{<<"name">>,<<"tomerl">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"0.5.0">>}.
