{<<"app">>,<<"fast_scram">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,
 <<"A fast Salted Challenge Response Authentication Mechanism">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"rebar.config">>,<<"rebar.lock">>,
  <<"src/fast_scram.app.src">>,<<"src/fast_scram.erl">>,
  <<"src/fast_scram_attributes.erl">>,<<"src/fast_scram_configuration.erl">>,
  <<"src/fast_scram_definitions.erl">>,<<"src/fast_scram_parse_rules.erl">>,
  <<"src/types.hrl">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,[{<<"GitHub">>,<<"https://github.com/esl/fast_scram/">>}]}.
{<<"name">>,<<"fast_scram">>}.
{<<"requirements">>,
 [{<<"fast_pbkdf2">>,
   [{<<"app">>,<<"fast_pbkdf2">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"1.0.3">>}]}]}.
{<<"version">>,<<"0.5.0">>}.
