{<<"app">>,<<"geas">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Guess Erlang Application Scattering">>}.
{<<"files">>,
 [<<"README.md">>,<<"include">>,<<"priv">>,<<"priv/mod2app.term">>,
  <<"priv/otp_versions.table">>,<<"rebar.config">>,<<"rebar.lock">>,<<"src">>,
  <<"src/geas.app.src">>,<<"src/geas.erl">>,<<"src/geas_api.hrl">>,
  <<"src/geas_app.hrl">>,<<"src/geas_beam.hrl">>,<<"src/geas_calls.hrl">>,
  <<"src/geas_config.hrl">>,<<"src/geas_db.erl">>,<<"src/geas_db.hrl">>,
  <<"src/geas_defs.hrl">>,<<"src/geas_disc.hrl">>,<<"src/geas_doc.erl">>,
  <<"src/geas_logs.hrl">>,<<"src/geas_misc.hrl">>,
  <<"src/geas_otp_versions.hrl">>,<<"src/geas_patches.hrl">>,
  <<"src/geas_path.hrl">>,<<"src/geas_plugins.hrl">>,
  <<"src/geas_semver.erl">>,<<"src/geas_tests.erl">>,<<"src/geas_vcs.hrl">>,
  <<"src/geas_version.hrl">>]}.
{<<"licenses">>,[<<"ISC">>]}.
{<<"links">>,
 [{<<"Github">>,<<"https://github.com/crownedgrouse/geas">>},
  {<<"Wiki">>,<<"https://github.com/crownedgrouse/geas/wiki">>}]}.
{<<"name">>,<<"geas">>}.
{<<"requirements">>,
 [{<<"samovar">>,
   [{<<"app">>,<<"samovar">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"~>1.0.2">>}]}]}.
{<<"version">>,<<"2.8.0">>}.
