{<<"app">>,<<"rebar3_fmt">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"rebar3 plugin to format Erlang code a la `gofmt`">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"priv/erlang-skels.el">>,
  <<"priv/erlang-start.el">>,<<"priv/erlang.el">>,<<"priv/fmt.el">>,
  <<"rebar.lock">>,<<"src/rebar3_fmt.app.src">>,<<"src/rebar3_fmt.erl">>,
  <<"src/rebar3_fmt_prv.erl">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,
 [{<<"Github">>,<<"https://github.com/fenollp/erlang-formatter">>}]}.
{<<"name">>,<<"rebar3_fmt">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"1.18.0">>}.
