{<<"app">>,<<"opuntia">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Traffic shapers for erlang and elixir">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"rebar.config">>,<<"rebar.lock">>,<<"src">>,
  <<"src/opuntia.app.src">>,<<"src/opuntia.erl">>,<<"src/opuntia.hrl">>,
  <<"src/opuntia_srv.erl">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,[{<<"GitHub">>,<<"https://github.com/esl/opuntia/">>}]}.
{<<"name">>,<<"opuntia">>}.
{<<"requirements">>,
 [{<<"telemetry">>,
   [{<<"app">>,<<"telemetry">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"1.2.1">>}]}]}.
{<<"version">>,<<"1.1.0">>}.
