{<<"name">>,<<"cpool">>}.
{<<"version">>,<<"0.1.0">>}.
{<<"requirements">>,
 #{<<"backoff">> =>
       #{<<"app">> => <<"backoff">>,<<"optional">> => false,
         <<"requirement">> => <<"1.1.3">>}}}.
{<<"app">>,<<"cpool">>}.
{<<"maintainers">>,[<<"Konrad Zemek <konrad.zemek@gmail.com>">>]}.
{<<"precompiled">>,false}.
{<<"description">>,<<"A connection-focused worker pool.">>}.
{<<"files">>,
 [<<"src/cpool.app.src">>,<<"README.md">>,<<"rebar.config">>,<<"rebar.lock">>,
  <<"src/cpool.erl">>,<<"src/cpool_app.erl">>,
  <<"src/cpool_pool_connection_sup.erl">>,<<"src/cpool_pool_manager.erl">>,
  <<"src/cpool_pool_sup.erl">>,<<"src/cpool_sup.erl">>]}.
{<<"licenses">>,[<<"MPL 2.0">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/kzemek/cpool">>}]}.
{<<"build_tools">>,[<<"rebar3">>]}.
