{<<"app">>,<<"bear">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"A set of statistics functions for erlang">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"rebar.config">>,<<"rebar.lock">>,
  <<"src/bear.app.src">>,<<"src/bear.erl">>]}.
{<<"licenses">>,[<<"Apache 2">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/folsom-project/bear">>}]}.
{<<"name">>,<<"bear">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"1.0.0">>}.
