{<<"app">>,<<"fast_pbkdf2">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Erlang's best pbkdf2 implementation">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"c_src/fast_pbkdf2.c">>,<<"rebar.config">>,
  <<"rebar.lock">>,<<"src/fast_pbkdf2.app.src">>,<<"src/fast_pbkdf2.erl">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,[{<<"GitHub">>,<<"https://github.com/esl/fast_pbkdf2/">>}]}.
{<<"name">>,<<"fast_pbkdf2">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"1.0.3">>}.
