{<<"app">>,<<"rebar3_elixir">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,
 <<"A rebar plugin to generate mix.exs and Elixir bindings">>}.
{<<"files">>,
 [<<"src/rebar3_elixir.app.src">>,<<"README.md">>,
  <<"include/rebar3_elixir.hrl">>,<<"rebar.config">>,<<"rebar.lock">>,
  <<"src/rebar3_elixir.erl">>,<<"src/rebar3_elixir_generate_lib.erl">>,
  <<"src/rebar3_elixir_generate_mix.erl">>,
  <<"src/rebar3_elixir_generate_record.erl">>,
  <<"src/rebar3_elixir_utils.erl">>]}.
{<<"licenses">>,[<<"BSD-3">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/G-Corp/rebar3_elixir">>}]}.
{<<"name">>,<<"rebar3_elixir">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"0.2.4">>}.
