{<<"app">>,<<"erlang_doctor">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,
 <<"Lightweight tracing, debugging and profiling utility for Erlang">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"include">>,<<"include/tr.hrl">>,
  <<"rebar.config">>,<<"rebar.lock">>,<<"src">>,
  <<"src/erlang_doctor.app.src">>,<<"src/erlang_doctor_app.erl">>,
  <<"src/erlang_doctor_sup.erl">>,<<"src/tr.erl">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,
 [{<<"GitHub">>,<<"https://github.com/chrzaszcz/erlang_doctor">>}]}.
{<<"name">>,<<"erlang_doctor">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"0.2.6">>}.
