{<<"name">>,<<"rebar3_proper">>}.
{<<"version">>,<<"0.5.0">>}.
{<<"app">>,<<"rebar3_proper">>}.
{<<"requirements">>,[{<<"proper">>,<<"1.1.1-beta">>}]}.
{<<"maintainers">>,[<<"Fred Hebert">>]}.
{<<"precompiled">>,false}.
{<<"description">>,<<"Run PropEr test suites">>}.
{<<"files">>,
 [{<<"src/rebar3_proper.app.src">>,
   <<"{application,rebar3_proper,\n             [{description,\"Run PropEr test suites\"},\n              {vsn,\"0.5.0\"},\n              {registered,[]},\n              {applications,[kernel,stdlib,proper]},\n              {env,[]},\n              {modules,[]},\n              {maintainers,[\"Fred Hebert\"]},\n              {licenses,[\"BSD\"]},\n              {links,[{\"Github\",\"https://github.com/ferd/rebar3_proper\"},\n                      {\"PropEr\",\"http://proper.softlab.ntua.gr/\"}]}]}.\n">>},
  {<<"src/rebar3_proper.app.src">>,
   <<"/home/ferd/code/self/rebar3_proper/src/rebar3_proper.app.src">>},
  {<<"src/rebar3_proper.erl">>,
   <<"/home/ferd/code/self/rebar3_proper/src/rebar3_proper.erl">>},
  {<<"src/rebar3_proper_prv.erl">>,
   <<"/home/ferd/code/self/rebar3_proper/src/rebar3_proper_prv.erl">>},
  {<<"priv/templates/prop.erl.tpl">>,
   <<"/home/ferd/code/self/rebar3_proper/priv/templates/prop.erl.tpl">>},
  {<<"priv/templates/prop_model.erl.tpl">>,
   <<"/home/ferd/code/self/rebar3_proper/priv/templates/prop_model.erl.tpl">>},
  {<<"priv/templates/prop_statem.erl.tpl">>,
   <<"/home/ferd/code/self/rebar3_proper/priv/templates/prop_statem.erl.tpl">>},
  {<<"priv/templates/proper.template">>,
   <<"/home/ferd/code/self/rebar3_proper/priv/templates/proper.template">>},
  {<<"priv/templates/proper_statem.template">>,
   <<"/home/ferd/code/self/rebar3_proper/priv/templates/proper_statem.template">>},
  {<<"rebar.config">>,<<"/home/ferd/code/self/rebar3_proper/rebar.config">>},
  {<<"rebar.lock">>,<<"/home/ferd/code/self/rebar3_proper/rebar.lock">>},
  {<<"README.md">>,<<"/home/ferd/code/self/rebar3_proper/README.md">>},
  {<<"LICENSE">>,<<"/home/ferd/code/self/rebar3_proper/LICENSE">>}]}.
{<<"licenses">>,[<<"BSD">>]}.
{<<"links">>,
 [{<<"Github">>,<<"https://github.com/ferd/rebar3_proper">>},
  {<<"PropEr">>,<<"http://proper.softlab.ntua.gr/">>}]}.
{<<"build_tools">>,[<<"rebar3">>]}.
