{<<"app">>,<<"trails">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"A couple of improvements over Cowboy Routes">>}.
{<<"files">>,
 [<<"CHANGELOG.md">>,<<"LICENSE">>,<<"README.md">>,<<"rebar.config">>,
  <<"rebar.lock">>,<<"src/trails.app.src">>,<<"src/trails.erl">>,
  <<"src/trails_app.erl">>,<<"src/trails_handler.erl">>,
  <<"src/trails_sup.erl">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,
 [{<<"Blog">>,<<"http://inaka.net/blog/2015/07/20/cowboy-trails/">>},
  {<<"Docs">>,<<"http://inaka.github.io/cowboy-trails/">>},
  {<<"Example">>,
   <<"https://github.com/inaka/cowboy-trails/tree/master/example">>},
  {<<"Github">>,<<"https://github.com/inaka/cowboy-trails">>}]}.
{<<"name">>,<<"trails">>}.
{<<"requirements">>,
 [{<<"cowboy">>,
   [{<<"app">>,<<"cowboy">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"2.8.0">>}]},
  {<<"ranch">>,
   [{<<"app">>,<<"ranch">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"2.0.0">>}]}]}.
{<<"version">>,<<"2.3.0">>}.
