{<<"app">>,<<"exml">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Erlang fast XML parsing library">>}.
{<<"files">>,
 [<<"CHANGELOG.md">>,<<"LICENSE">>,<<"LICENSE.rapidxml">>,<<"README.md">>,
  <<"c_src">>,<<"c_src/exml.cpp">>,<<"c_src/rapidxml.hpp">>,
  <<"c_src/rapidxml_iterators.hpp">>,<<"c_src/rapidxml_print.hpp">>,
  <<"c_src/rapidxml_utils.hpp">>,<<"include">>,<<"include/exml.hrl">>,
  <<"include/exml_stream.hrl">>,<<"priv">>,<<"rebar.config">>,
  <<"rebar.lock">>,<<"src">>,<<"src/exml.app.src">>,<<"src/exml.erl">>,
  <<"src/exml_nif.erl">>,<<"src/exml_query.erl">>,<<"src/exml_stream.erl">>]}.
{<<"licenses">>,[<<"Apache-2.0">>,<<"BSL-1.0">>,<<"GPL (tests)">>]}.
{<<"links">>,[{<<"GitHub">>,<<"https://github.com/esl/exml/">>}]}.
{<<"name">>,<<"hexml">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"3.4.1">>}.
