{<<"app">>,<<"rebar3_lint">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Erlang linter - rebar3 plugin">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"rebar.config">>,<<"rebar.lock">>,<<"src">>,
  <<"src/rebar3_lint.app.src">>,<<"src/rebar3_lint.erl">>,
  <<"src/rebar3_lint_prv.erl">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,
 [{<<"GitHub">>,<<"https://github.com/project-fifo/rebar3_lint">>}]}.
{<<"name">>,<<"rebar3_lint">>}.
{<<"requirements">>,
 [{<<"elvis_core">>,
   [{<<"app">>,<<"elvis_core">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"2.0.1">>}]}]}.
{<<"version">>,<<"2.0.1">>}.
