{<<"name">>,<<"pooler">>}.
{<<"version">>,<<"1.5.3">>}.
{<<"requirements">>,#{}}.
{<<"app">>,<<"pooler">>}.
{<<"maintainers">>,
 [<<"Seth Falcon">>,<<"Drew Kerrigan">>,<<"Randy Secrist">>]}.
{<<"precompiled">>,false}.
{<<"description">>,<<"An OTP Process Pool Application">>}.
{<<"files">>,
 [<<"src/pooler.app.src">>,<<"LICENSE">>,<<"README.org">>,<<"rebar.config">>,
  <<"rebar.lock">>,<<"src/pooler.erl">>,<<"src/pooler.hrl">>,
  <<"src/pooler_app.erl">>,<<"src/pooler_config.erl">>,
  <<"src/pooler_pool_sup.erl">>,<<"src/pooler_pooled_worker_sup.erl">>,
  <<"src/pooler_starter.erl">>,<<"src/pooler_starter_sup.erl">>,
  <<"src/pooler_sup.erl">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/seth/pooler">>}]}.
{<<"build_tools">>,[<<"rebar3">>]}.
