{<<"app">>,<<"tirerl">>}.
{<<"build_tools">>,[<<"erlang.mk">>,<<"rebar">>]}.
{<<"description">>,<<"Erlang interface to Elastic Search">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"rebar.config">>,<<"rebar.lock">>,
  <<"src/tirerl.app.src">>,<<"src/tirerl.erl">>,<<"src/tirerl.hrl">>,
  <<"src/tirerl_sup.erl">>,<<"src/tirerl_worker.erl">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/inaka/tirerl">>}]}.
{<<"name">>,<<"tirerl">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"1.2.0">>}.
