{<<"app">>,<<"worker_pool">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Erlang Worker Pool">>}.
{<<"files">>,
 [<<"CHANGELOG.md">>,<<"LICENSE">>,<<"README.md">>,<<"priv/overview.edoc">>,
  <<"rebar.config">>,<<"rebar.lock">>,<<"src/worker_pool.app.src">>,
  <<"src/wpool.erl">>,<<"src/wpool_pool.erl">>,<<"src/wpool_process.erl">>,
  <<"src/wpool_process_callbacks.erl">>,<<"src/wpool_process_sup.erl">>,
  <<"src/wpool_queue_manager.erl">>,<<"src/wpool_sup.erl">>,
  <<"src/wpool_time_checker.erl">>,<<"src/wpool_utils.erl">>,
  <<"src/wpool_worker.erl">>]}.
{<<"licenses">>,[<<"Apache2">>]}.
{<<"links">>,
 [{<<"Blog Post">>,
   <<"https://web.archive.org/web/20170602054156/http://inaka.net/blog/2014/09/25/worker-pool/">>},
  {<<"Github">>,<<"https://github.com/inaka/worker_pool">>}]}.
{<<"name">>,<<"worker_pool">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"6.0.1">>}.
