{<<"app">>,<<"erl_csv">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"A simple library for dealing with CSV files">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"rebar.config">>,<<"rebar.lock">>,<<"src/erl_csv.app.src">>,
  <<"src/erl_csv.erl">>,<<"src/erl_csv.hrl">>,<<"src/erl_csv_decoder.erl">>,
  <<"src/erl_csv_encoder.erl">>,<<"src/erl_csv_file_stream.erl">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,[{<<"GitHub">>,<<"https://github.com/NelsonVides/erl_csv">>}]}.
{<<"name">>,<<"erl_csv">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"0.3.1">>}.
