{<<"app">>,<<"eredis">>}.
{<<"build_tools">>,[<<"mix">>,<<"rebar3">>]}.
{<<"description">>,
 <<"Non-blocking Redis client with focus on performance and robustness.">>}.
{<<"elixir">>,<<">= 1.5.1">>}.
{<<"files">>,
 [<<"src">>,<<"src/eredis_parser.erl">>,<<"src/eredis.app.src">>,
  <<"src/basho_bench_driver_eredis.erl">>,<<"src/eredis_sub.erl">>,
  <<"src/eredis_client.erl">>,<<"src/eredis_sentinel.erl">>,
  <<"src/eredis.erl">>,<<"src/eredis_sub_client.erl">>,<<"include">>,
  <<"include/eredis_sub.hrl">>,<<"include/eredis.hrl">>,<<"mix.exs">>,
  <<"rebar.config">>,<<"AUTHORS">>,<<"CHANGELOG.md">>,<<"LICENSE">>,
  <<"README.md">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,[{<<"GitHub">>,<<"https://github.com/Nordix/eredis/">>}]}.
{<<"name">>,<<"eredis">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"1.7.0">>}.
